<h1>Les ragots</h1>

<ul>
  <% @gossips.each do |gossip| %>
    <li>
      <%= gossip.title %>
    </li>
  <% end %>
</ul>




<h1>Les ragots liés à leur page et signés de leur auteur</h1>

<ul>
  <% @gossips.each do |gossip| %>
    <li>
    <p> <%= link_to gossip.title, gossip_path(gossip) %> par <%= gossip.user.first_name %> <%= gossip.user.last_name %> <p>

    </li>
  <% end %>
</ul>

